/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Site*/

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Montserrat', 'Lato', serif;
    background: url(./img1/fon.jpg) no-repeat;
    width: 1440px;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
}

/*Header*/

.header {
    
}

.header-logo {
    text-align: center;
    z-index: 1000;
    padding-top: 60px;
    margin-bottom: 50px;
}

.header-nav {
    position: relative;
    justify-content: center; 
    display: flex;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 5s;   
}

.header-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 24px;
    margin-bottom: 74px;
}

.header-nav-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(249, 163, 77);
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
}

.header-nav-link:hover:before {
    transform-origin: left;
    transform: scaleX(1);
}

.header-nav-link {
    margin-left: 1rem;
    padding: 5px;
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-family: 500;
    text-decoration: none;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
}

/*header end*/

/*Main*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.container-one {
    width: 100%;
    height: 330px;
    background: url(./img1/i1.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.content-wrapper {
    max-width: 470px;
    padding-bottom: 40px;
    padding-left: 60px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.container-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}

.container-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
}
.container-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}

.container-two {
    background-color: #fff;
}
.content-wrapper-two { 
    justify-content: flex-start;
    padding-bottom: 35px;
}
.two {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    max-width: 664px;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 10px;
}

.a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
    text-decoration: none;
    padding-bottom: 40px;
    padding-left: 60px;
}

.container-one-two {
    width: 100%;
    height: 330px;
    background: url(./img1/i2.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.container-one-tree {
    width: 100%;
    height: 330px;
    background: url(./img1/i3.png) no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.content-wrapper-two-end {
    background: #F1F1F1;
}

.two-end {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 21px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.search-form_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 180px;
    height: 45px;
    padding: 25px 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #8D4FDB;
    border-radius: 3px;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
    background: #0d5cc6;
}

/*Header end*/

/*Footer*/

.footer {
    background: #FFFFFF;
    padding: 85px 250px;
}

.footer-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    display: center;
}

.footer-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 33px;
    text-align: center;
    color: #A9AFB3;
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer-img {
    display: grid;
    max-width: 940px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 57px;
    margin-bottom: 56px;
}

.footer-text {
    display: flex;
}

.footer-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    padding-top: 25px;
    max-width: 280px;
}